/* Estilo general */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f3f4f6;
    color: #333;
}

/* Header y menú */
.header {
    background-color: #4CAF50; /* Verde */
    padding: 15px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.header .logo img {
    width: 120px; /* Ajusta el tamaño del logo */
}

header nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    gap: 20px;
}

header nav ul li {
    display: inline;
}

header nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s;
}

header nav ul li a:hover {
    color: #f4a261; /* Cambia a un color más claro al pasar el mouse */
}

/* Hero Section */
.hero {
    background: linear-gradient(135deg, #4CAF50 30%, #388E3C 70%);
    padding: 60px 20px;
    text-align: center;
    color: white;
    border-radius: 15px;
    margin: 20px;
}

.hero h1 {
    font-size: 2.5em; /* Tamaño de fuente más grande */
    margin: 0;
}

.hero p {
    font-size: 1.2em; /* Tamaño de fuente más grande */
    margin: 20px 0;
}

.hero .btn {
    background-color: #f4a261;
    color: white;
    text-decoration: none;
    padding: 12px 25px;
    border-radius: 5px;
    font-weight: bold;
    transition: background-color 0.3s;
}

.hero .btn:hover {
    background-color: #e76f51; /* Color más oscuro al pasar el mouse */
}

/* Sección de video y imagen */
.media-section {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px 20
